%script{ type: "text/template", id: "siteView" }<
  :plain
    .site
      %h2= name
      .cont
        %a{ href: link, target: "_blank" } 
          %img.sshot{ src: image }
        .siteChart
        #tableBtns
          .pos 
            = keys_pos_count
             positioneds 
          .totals
            = keys_count
             totals
                          
        .keysListView
      .foot &nbsp;    

%script{ type: "text/template", id: "siteRow" }<
  :plain
    %td.ico
      %img.favicon{ src: favicon }
    %td 
      \#{name}
    %td= keys_pos_count
    %td= keys_count

%script{ type: "text/template", id: "sitesView" }<
  :plain
    %div
      #search
        %input{ name: "key", type: "search" }
        %img.icon{ src: "/images/icons/search.png" }
      .clear
      %table{ cellspacing: 0 }
        %thead
          %tr
            %th 
            %th site
            %th positioneds
            %th totals
        %tbody.sitesList