!!!
%html{ html_attrs("en") }
  %head
    %title Rankey
    %meta{ charset: "utf-8" }
    %meta{ :"http-equiv" => "X-UA-Compatible", content: "IE=edge,chrome=1" }
    %meta{ name: "description", content: "" }
    %meta{ name: "keywords", content: "" }    
    %meta{ name: "author", content: "" }    
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1.0" }
    = stylesheet_link_tag    "application" 
    = csrf_meta_tag       
  %body{ class: body_class }
    #container
      .loading
      #login
      %header
        %h1 Rankey
      #nav
      #outer_content
        = yield
        
    %footer
    
    = render partial: "rankey/bviews_main"
    = render partial: "rankey/bviews_login"
    = render partial: "rankey/bviews_sites"
    = render partial: "rankey/bviews_keys"
    
    
    :javascript
      window.userData = '#{@current_user_data || {}.to_json}';
        
    = javascript_include_tag "application"